<div class="comment">
  <div class="comment__header">
    <span class="comment__author">{{ name }}</span>
    <span class="comment__place">{{ place }}</span>
    <span class="comment__date">{{ date }}</span>
  </div>
  <p class="comment__text">{{ comment }}</p>
</div>